<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        AI Resume Screening Agent
    </title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >

</head>


<body>


<header class="navbar">

    <div class="container">

        <h2>
            AI Resume Screening Agent
        </h2>

        <span>
            NLP Based Recruitment System
        </span>

    </div>

</header>


<main class="container">

    {% with messages = get_flashed_messages() %}

        {% if messages %}

            {% for message in messages %}

                <div class="alert">

                    {{ message }}

                </div>

            {% endfor %}

        {% endif %}

    {% endwith %}


    {% block content %}

    {% endblock %}

</main>


<footer>

    <p>
        AI Resume Screening Agent |
        Flask + NLP
    </p>

</footer>


</body>

</html> 